.checkoutProduct{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.checkoutProduct__info{
    padding-left: 20px;
}

.checkoutProduct__info > button{
    cursor: pointer;
    background: #f8c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734, #9c7e31, #846e29;
    color: #111;
}
.checkoutProduct__info > button:hover{
    background-color: #f1b228;
}

.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating{
    display: flex;
    color: rgb(255, 239, 13);
}

.checkoutProduct__title{
    font-size: 17px;
    font-weight: 700;
}