.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  /* z-index:1; */
}
.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 10px;
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header__searchInput {
  outline: none;
  border-radius: 5px;
  height: 32px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header__searchIcon {
  cursor: pointer;
  margin-left: -31px;
  padding: 5px;
  height: 32px !important;
  width: 34px !important;
  border-radius: 3px;
  background-color: #eb921f;
}
.header__optionLineOne {
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 500;
}
.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
  margin-top: -3px;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__option {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__option:hover{
  color: #fdb65a;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__optionBasket:hover{
  color: #fdb65a;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
