.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  /* z-index:1; */
}
.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 10px;
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header__searchInput {
  outline: none;
  border-radius: 5px;
  height: 32px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header__searchIcon {
  cursor: pointer;
  margin-left: -31px;
  padding: 5px;
  height: 32px !important;
  width: 34px !important;
  border-radius: 3px;
  background-color: #eb921f;
}
.header__optionLineOne {
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 500;
}
.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
  margin-top: -3px;
}
.header__nav {
  display: flex;
  padding: 0 20px;
  /* justify-content: space-between; */
}
.header__option {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__option:hover{
  color: #fdb65a;
}

.header__optionBasket {
  margin-left: 15px;
  display: flex;
  align-items: center;
  color: white;
}

.header__optionBasket:hover{
  color: #fdb65a;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.menu-toggle{
  display: none;
  float: right;
  cursor: pointer;
  margin-left: 20px;
  margin-top: -6px;
}

.header__nav nav ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.header__nav nav ul li{
  list-style: none;
}

.header__nav nav ul a{
  text-decoration: none;
}

@media (max-width: 790px) {
  .menu-toggle{
    display: block;
  }
  
  .header__nav nav{
    border-top: solid 1px lightgrey;
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #131921;
    top: 60px;
    left: -100%;
    transition: 0.5s;
  }

  .header__nav .active{
    left: 0;
  }
  .header__nav .notactive{
    left: -100%;
  }

  .header__nav nav ul{
    display: block;
  }

  .header__nav nav ul li a{
    text-align: left;
  }

  .header__option{
    padding: 10px;
    border-bottom: solid 1px lightgrey;
    /* margin-bottom: 30px; */
  }
  .header__optionLineOne{
    font-size: 14px;
  }
  .header__optionLineTwo{
    font-size: 15px;
  }
}