* {
  margin: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(234, 237, 237);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
