.order{
    padding: 40px;
    margin: 20px 0;
    border: 1px solid lightgray;
    background-color: white;
    position: relative;
}

.order__id{
    position: absolute;
    top: 40px;
    right: 20px;
}

.order__total{
    color: rgb(224, 115, 38);
    font-weight: 500px;
    text-align: right;
}