.signup{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup__logo{
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.signup__container{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 20px;
}

.signup__container > h1{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.signup__container > form > h5{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.signup__container > form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
    font-size: 15px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.5),0 1px 0 rgba(0,0,0,.07) inset;
}

.signup__container > p{
    margin-top: 20px;
    font-size: 12px;
}

.signup__signUpBtn{
    cursor: pointer;
    background: #f8c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    border-color: #a88734 #9c7e31 #846a29;
}

.signup__signUpBtn:hover{
    background-color: #f1b228;
}